<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Registered Users</title>
    <link href="css/styles1.css" rel="stylesheet" type="text/css" media="all" />
    <!-- Add other stylesheets or scripts if needed -->
</head>
<body>
<div class="container">
    <h1 class="text-center">Registered Users List</h1>

    <!-- Search bar -->
    <div class="row mb-3">
        <div class="col-md-6 offset-md-3">
            <form th:action="@{/view-cars}" method="get">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search by Username" name="username"/>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <table class="table">
        <!-- Table header -->
        <thead>
        <tr>
            <th>Car Id</th>
            <th>Plate Number</th>
            <th>Model</th>
            <th>Year</th>
            <th>image</th>
            <th>Available</th>
            <th>customer Id</th>
            <th>Actions</th>
        </tr>
        </thead>
        <!-- Table body -->
        <tbody>
        <!-- Loop through cars and display each row -->
        <!-- Car data comes from Thymeleaf 'cars' variable -->
        <tr th:each="car : ${cars}">
            <!-- Display car details -->
            <td th:text="${car.id}"></td>
            <td th:text="${car.plateNumber}"></td>
            <td th:text="${car.model}"></td>
            <td th:text="${car.year}"></td>
            <td th:field="${car.image}"></td>
            <td th:text="${car.available}"></td>
            <td th:text="${car.customer}"></td>
            <td>
                <!-- Buttons for edit and delete actions -->
                <a th:href="@{'/edit/' + ${car.plateNumber}}">Edit</a>
                <a th:href="@{/car/{carId}/delete(carId=${car.id})}">Delete</a>
            </td>
        </tr>
        <!-- Show message if no cars are registered -->
        <tr th:if="${#lists.isEmpty(cars)}">
            <td colspan="5">No cars registered</td>
        </tr>
        </tbody>
    </table>
    <div class="back-btn">
        <a th:href="@{'/admin-dashboard'}" class="btn btn-sm btn-outline-secondary">Back to Dashboard</a>
    </div>
</div>
</body>
</html>